/* body {
  background-color: lightgreen;
} */
/* 
.order {
  order: -1;
}

.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#searchInput {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 1px solid lightblue;
  border-radius: 3px;
  width: 200px;
}

.styling-carousel-imgs {
  height: 300px;
  width: 90%;
  object-fit: cover;
} */
